In [5]:
# Importando Librerias
import pandas as pd

In [6]:
#Variables
FILE = "C:\Data\FuelSalesDataSample.csv" # variable con el path del archivo

In [7]:
data = pd.read_csv(FILE)

In [8]:
data

,Date,Weekday,Hour,SiteID,SiteName,Grade,Pump,ServiceType,VolumeSold,PaymentType,UnitPrice,TotalSale
0,1/1/2017,7,0,6601,Falls Church,REGULAR,1,FULL,7.40,CASH,$2.78,$20.57
1,1/1/2017,7,0,6601,Falls Church,REGULAR,3,FULL,11.03,CASH,$2.78,$30.66
2,1/1/2017,7,0,6601,Falls Church,REGULAR,5,FULL,11.70,CREDIT CARD,$2.78,$32.53
3,1/1/2017,7,0,6601,Falls Church,REGULAR,7,SELF,15.68,CASH,$2.73,$42.81
4,1/1/2017,7,0,6601,Falls Church,DIESEL,7,SELF,4.51,CREDIT CARD,$2.87,$12.94
...,...,...,...,...,...,...,...,...,...,...,...,...
89537,1/15/2017,7,15,6653,Brussels Avenue,REGULAR,5,SELF,9.42,CREDIT CUSTOMER,$2.75,$25.91
89538,1/15/2017,7,16,6653,Brussels Avenue,REGULAR,5,SELF,10.12,CREDIT CARD,$2.75,$27.83
89539,1/15/2017,7,17,6653,Brussels Avenue,REGULAR,5,SELF,8.89,CREDIT CARD,$2.75,$24.45
89540,1/15/2017,7,18,6653,Brussels Avenue,REGULAR,5,SELF,7.21,CREDIT CARD,$2.75,$19.83
89541,1/15/2017,7,19,6653,Brussels Avenue,REGULAR,5,SELF,5.78,CREDIT CARD,$2.75,$15.90